body {
  background-color: #ddd;
}

.chat-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.output {
  margin-bottom: 20px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  word-wrap: break-word;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 20px;
  padding: 20px 40px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
